<div class="row" ng-show="signedIn()">
    <form name="form" ng-submit="submitPost()">
        <div class="form-group col-sm-12">
            <div class="col-sm-5">
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title" ng-model="post.title">
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" id="val_website" name="val_website" class="form-control" ng-model="post.url">
                    <span class="input-group-addon"><i class="gi gi-globe"></i></span>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Add</button>
            </div>

        </div>

    </form>
</div>

<div class="row" ng-hide="signedIn()">
    <div class="row">
      <div class="col-xs-12">
        <p class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          Please <a href="#/register">Signup/Login</a> to share your article url.
        </p>
      </div>
    </div>
</div>


<div class="block">
    <div class="block-title">
        <h2><strong>Latest</strong> JavaScript News Feeds</h2>
    </div>
    <h4 class="sub-header">User submited content</h4>

    <div class="row postsWrap">
        <div class="col-xs-12 singlePost" ng-repeat="(postId, post) in posts" data-indexnum="{{$index}}">
            <div class="block">
                <h3><a href="#/posts/{{ postId }}" class="text-success">{{post.title}}</a></h3>
                <p><span class="block-options pull-right"><a href="#" ng-click="deletePost(postId)" ng-show="signedIn() && post.owner === currentUser.username" class="btn btn-alt btn-sm btn-danger btn-option" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-times"></i></a></span></p>
                <p><code>{{post.url | hostnameFromUrl}}</code></p>
                <p><span>submitted by <a href="#/users/{{ post.owner }}">{{ post.owner }}</a></span> | <a href="#/posts/{{ postId }}">Comments</a> <span class="badge">{{ postCommentsLength(post) }}</span></p>
            </div>
        </div>
    </div>
</div>
