<div class="row">
    <form name="form" ng-submit="submitPost()">
        <div class="form-group col-sm-12">
            <div class="col-sm-5">
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title" ng-model="post.title">
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" id="val_website" name="val_website" class="form-control" ng-model="post.url">
                    <span class="input-group-addon"><i class="gi gi-globe"></i></span>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus"></i> Add</button>
            </div>
            
        </div>
        
    </form>
</div>


<div class="block">
    <div class="block-title">
        <h2><strong>Latest</strong> feeds</h2>
    </div>
    <h4 class="sub-header">Grid <small><code>.col-xs-*</code> (never collapsing)</small></h4>
    
    <div class="row">
        <div class="col-xs-12" ng-repeat="(postId, post) in posts">
            <div class="block">
                <h3><a href="{{post.url}}" class="text-success">{{post.title}}</a> &nbsp; <span class="block-options pull-right"><a href="javascript:void(0)" ng-click="deletePost(postId)" class="btn btn-alt btn-sm btn-danger btn-option" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-times"></i></a></span></h3>
                <p><code>{{post.url}}</code></p>
                <p><span class="badge">Comments <a href="#/posts/{{ postId }}" class="text-danger">(Click Here)</a></span></p>
            </div>
        </div>
    </div>
</div>