<ul class="breadcrumb breadcrumb-top">
  <li><a href="#/">Home</a></li>
  <li>{{ user.username }}</li>
</ul>

<div class="content-header">
  <div class="header-section">
  <h1>
    <i class="gi gi-show_big_thumbnails"></i>{{ user.username }}<br>
    <img ng-src="http://www.gravatar.com/avatar/{{ user.md5_hash }}" class="prof-img" />
  </h1>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2><strong>Submissions</strong></h2>
      </div>
      <div>
        <ul class="media-list" ng-repeat="(postId, post) in posts">

          <li class="media">
            <div class="media-body">
              <h4><a href="#/posts/{{postId}}">{{post.title}}</a></h4>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2><strong>Comments</strong></h2>
      </div>
      <div>
        <ul class="media-list" ng-repeat="(commentId, comment) in comments">

          <li class="media">
            <div class="media-body">
              <a href="#/posts/{{comment.postId}}"><strong>Comments</strong></a>
              <p>{{comment.text}}</p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
