<div class="row">
    <div class="col-md-12" ng-show="error">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="fa fa-times-circle"></i> Error</h4> Oh no! Something went wrong. Please try again.
        </div>
    </div>
    <div class="col-md-6">

        <div class="block">

            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="" data-original-title="Toggles .form-bordered class">No Borders</a>
                </div>
                <h2><strong>Register</strong> <small>(new use sign-up form)</small></h2>
            </div>
            <form action="" method="post" class="form-horizontal form-bordered" ng-submit="register()">

                <div class="form-group">
                    <label class="col-md-3 control-label" for="Username">Username</label>
                    <div class="col-md-9">
                        <input type="text" id="Username" name="username" class="form-control" placeholder="Username" ng-model="user.username">
                        <span class="help-block">Enter desired Username</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="Email">Email</label>
                    <div class="col-md-9">
                        <input type="email" id="Email" name="email" class="form-control" placeholder="Enter Email" ng-model="user.email">
                        <span class="help-block">Please enter your email</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="Password">Password</label>
                    <div class="col-md-9">
                        <input type="password" id="Password" name="password" class="form-control" placeholder="Password" ng-model="user.password">
                        <span class="help-block">Please enter a complex password</span>
                    </div>
                </div>

                <div class="form-group form-actions">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Registration END -->

    <div class="col-md-6">

        <div class="block">

            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="" data-original-title="Toggles .form-bordered class">No Borders</a>
                </div>
                <h2><strong>Login</strong> <small>(if already registered)</small></h2>
            </div>
            <form class="form-horizontal form-bordered" ng-submit="login()">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-parents"></i></span>
                            <input type="text" id="user-username" name="user-username" class="form-control" placeholder="Username" ng-model="user.email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                            <input type="password" id="user-password" name="user-password" class="form-control" placeholder="Password" ng-model="user.password">
                        </div>
                    </div>
                </div>

                <div class="form-group form-actions">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-sm btn-default">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>